<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionapp2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8be0f285-6850-4eaa-bc03-9baf4cb47547/resourceGroups/sls-azure-workshop-v2/providers/Microsoft.Web/sites/TollBoothFunctionApp2</ResourceId>
    <UserName>$TollBoothFunctionApp2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionapp2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>